
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
html{
    font-family: 'Arimo', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #a69f9d;
}

*{
    box-sizing: border-box;
    user-select: none;
}

a{
    text-decoration: none;
}

.navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default{
    background-color: #eee;
    border: none;
}

.navbar-fixed{
    top: 0;
    /* position: fixed; */
    right: 0;
    left: 0;
    z-index: 20;
}

.header-line{
    width: 100%;
    height: 4px;
    background-color: #ed1c24;
    margin-bottom: 10px;
    clear: both;

}

.wrapper{
    clear: both;
    margin: 0 auto;
    background: url(https://id.foody.vn/Content/images/foody-corp.png)no-repeat center center;
    background-size: 100px;
    height: 35px;
    margin-bottom: 8px;
}

.container{
    padding-right: 20px;
    padding-left: 20px;
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.login-container{
    margin-top: 60px;
    height: 610px;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
    display: table;
    content: " ";
    margin: 0 auto;
}

.col{
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 360px
}

.panel{
    margin-bottom: 0;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.login-panel {
    margin-top: 20px;
    background: #f2f2f2;
}

.panel-default {
    border-color: #ddd;
}

.panel-heading {
    font-size: 16px;
    font-weight: 410;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: none;
    text-align: center;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body{
    padding: 0 15px 15px 15px;
}

.form-group{
    color: #959595;
    font-size: 13px;
    margin-bottom: 15px;
}

.inner-addon{
    position: relative;
}

.left-addon .fa-solid{
    font-size: 12px;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #d7d7d7;
    left: 0px;
}

.user-input{
    padding-left: 30px;
    width: 100%;
    height: 34px;
    outline: none;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.left-addon .fa{
    font-size: 12px;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #d7d7d7;
    left: 0px;
}

.link{
    font-size: 14px;
    color: #0495ba;
    border-bottom: 2px solid;
    text-decoration: none !important;
}


.check-text{
    font-size: 14px;
    line-height: 0;
}

.check{
    margin-right: 5px;
    /* margin-bottom: 15px; */
    /* padding-top: 15px; */
}

.btn-success {
    color: #fff;
    background: #0495ba;
    border-color: #0495ba;
    width: 100%;
}

.btn-login{
    font-size: 14px;
}

.btn{
    height: 40px;
    padding: 0;
    border: 1px solid transparent;
}

.register{
    /* padding: 15px 15px 0 15px; */
    margin-top: 10px;
    text-align: center;
}

.font12{
    font-size: 13px;
}

.login-social{
    display: inline-block;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    width: 100%;
}

.login-social-icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}


::placeholder{
    color: #83878f;
}

.col{
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 360px;
}

.policy-text{
    font-size: 14px;
    line-height: 20px;
}

.mess-policy{
    text-align: center;
    color: #707070;
    /* padding-top: 5px; */
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.policy-link {
    font-size: 14.5px;
    color: #0495ba;
    border-bottom: 2px solid;
    text-decoration: none !important;
}

.col-6{
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 580px;
}
.sso-mess{
    text-align: center;
    color: #707070;
    padding-top: 10px;
    font-size: 14px;
}

.container-link {
    margin-top: 10px;
    margin-left: 25%;
}

.container-link a {
    width: auto;
    margin-left: 10%;
    text-align: center;
    position: relative;
    display: block;
    float: left;
    padding: 0 10px;
    text-decoration: none;
}

.container-link a img{
    width: 40px;
    vertical-align: middle;
}

.container-link a span{
    color: #707070;
    display: block;
    margin-top: 8px;
    font-size: 11px;
}

.footer{
    background: #eee;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
}

.wrapper-footer {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    height: 75px;
}

.language{
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    line-height: 0px;
}

.language li {
    display: inline-block;
    
}

.language li a{
    font-weight: 410;
    float: left;
    line-height: 21px;
    padding-left: 4px;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
}

.wrapper-footer span {
    line-height: 18px;
    clear: both;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
}